src/main/mule/core-calc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    
    <java:config name="Java_Config"/>

    <flow name="java-get-core-count-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/cores"/>
        <java:invoke-static class="com.example.CoreCalculator" method="getCoreCount()" target="coreCount"/>
        <set-payload value="#[vars.coreCount]" />
        <logger level="INFO" message="CPU core count: #[payload]"/>
    </flow>
</mule>
